    <!-- Download Section -->
    <section id="services" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-4 mycontent-left"> 
                            <h2>SCADA and ICS Security Audits</h2>
                        </div>
                        <div class="col-sm-4 mycontent-left">
                            <h2>Application Testing & Source Code Analysis</h2>
                        </div>
                        <div class="col-sm-4">
                            <h2>Reverse Engineering & Vulnerabiltiy Discovery</h2>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 services-text">Having long-year experiences of the specifics and characteristics of critical infrastructure, GG-Sec offers performing SCADA and ICS penetration tests. </p>
                        <p class="col-sm-4 services-text">Performing technical security analysis of your web, native or mobile applications is a core serice GG-sec provides</p>
                        <p class="col-sm-4 services-text">GG-sec offers reverse engineering and vulnerability discovery in compiled software</p>
                    </div>
                    <div class="row">
                        <ul class="col-sm-4 services-text">
                            <li>Distributed control systems</li>
                            <li>PLCs and HMIs in wide varieties</li>
                            <li>Industrial protocol gateways</li>
                            <li>Smart Grid / Smart Metering</li>
                            <li>Industrial protocol gateways for diverse protocols</li>
                        </ul>
                        <ul class="col-sm-4 services-text">
                            <li>Web applications</li>
                            <li>API based web applications</li>
                            <li>Source code analysis</li>
                            <li>Mobile applications</li>
                            <li>Native Desktop applications</li>
                        </ul>
                        <ul class="col-sm-4 services-text">
                            <li>Static and dynamic analysis of binaries using disassembly, decompiling and debugging approaches</li>
                            <li>Vulnerabiltiy discovery using modern fuzzing approaches</li>
                            <li>Identification of vulnerability classes the bug belongs and their potential exploitability</li>
                            <li>Proof-of-concept development of working exploits</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <p> </p>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="col-sm-4 mycontent-left"> 
                            <h2>Red Teaming & Advanced Attacker Simulation</h2>
                        </div>
                        <div class="col-sm-4 mycontent-left">
                            <h2>Automated & Manual Vulnerability Assessments</h2>
                        </div>
                        <div class="col-sm-4">
                            <h2>Security Trainings & Workshops</h2>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-sm-4 services-text">GG-Sec offers attack simulations using advanced attacker tooling which allows testing a business's resilience against real-life threats.</p>
                        <p class="col-sm-4 services-text">Vulnerability assessments of a companies internet facing services as well as of internal IT infrastrucutre</p>
                        <p class="col-sm-4 services-text">Security trainings and dedicated workshops for different positions and skill levels</p>
                    </div>
                    <div class="row">
                        <ul class="col-sm-4 services-text">
                            <li>Breaching outer defenses of company and gaining initial foothold</li>
                            <li>Windows Active Directory lateral movement and privilege escalation</li>
                            <li>Challenging companies internal detection mechanisms</li>
                        </ul>
                        <ul class="col-sm-4 services-text">
                            <li>Automated and sophisticated vulnerability assessments of large network segments</li>
                            <li>Manual analysis of network services to uncover potential security vulnerabilities</li>
                            <li>Help companies implement their own vulnerability management environment</li>

                        </ul>
                        <ul class="col-sm-4 services-text">
                            <li>Various security workshops for your companies custom needs</li>
                            <li>Vulnerabiltiy management trainings for administrators</li>
                            <li>Application security workshops for developers</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>